<ul class="players">
  {{#players}}
  <li class="player player-{{color}}">
    <span class="name truncate">{{playerName}}</span> <span class="score">{{score}}</span>
  </li>
  {{/players}}
  <li class="player help">
    <span class="name">Help</span><span class="score">?</span>
  </li>
</ul>

<div class="clear"></div>

<div data-board-id="{{uuid}}" class="board {{active}}">
  {{#index board}}
  <div data-row-id="{{idx}}" class="row">
    {{#index line}}
    <div data-col-id="{{idx}}" class="cell {{classForCell .}}">
      <span>{{item}}</span>&nbsp;
    </div>
    {{/index}}
  </div>
  {{/index}}
</div>

<div id="gameControls"><input type="button" value="Leave Game" id="leaveGame"" /"></div>

<div class="waiting {{active}}">Wait for more players, or <input class="start" value="Start Game" type="button"></input></div>
<div class="clear"></div>

<div class="gameover hidden"></div>
<br/>