<ul class="players">
{{#players}}
  <li class="player player-{{color}}">
    <span class="name">{{playerName}}</span> <span class="score">{{score}}</span>
  </li>
{{/players}}
</ul>

<div class="clear"></div>
<div data-board-id="{{uuid}}" class="board">
{{#index board}}
  <div data-row-id="{{idx}}" class="row">
    {{#index line}}
    <div data-col-id="{{idx}}" class="cell {{classForCell .}}">
      <span>{{item}}</span>&nbsp;
    </div>
    {{/index}}
  </div>
{{/index}}
</div>

<div class="clear"></div>

<div class="overlay hidden"></div>
<div class="gameover hidden"></div>
<br/>

(Note: Shift-click to set/clear a flag)
<br/>
Scoring: 1 point for each revealed tile, -5 for hitting a bomb
<br/>
<br/>