<div class="players">
{{#players}}
  <div class="player">
    {{playerName}}
    <div class="score">
      {{score}}
    </div>
  </div>
{{/players}}
</div>

<div class="clear"></div>
<div data-board-id="{{uuid}}" class="board">
{{#index board}}
  <div data-row-id="{{idx}}" class="row">
    {{#index line}}
    <div data-col-id="{{idx}}" class="cell {{classForCell .}}">
      <span>{{item}}</span>&nbsp;
    </div>
    {{/index}}
  </div>
{{/index}}
</div>

<div class="clear"></div>

<div class="overlay hidden"></div>
<div class="gameover hidden"></div>
<br/>

(Note: Shift-click to set/clear a flag)

<br/>